
html, body {
    margin: 0;
    height: 100%;
}

/*is applied to the whole page
changes the font style*/
body{
	font-family: Arial, Helvetica, sans-serif;
	margin :0;
}

/* for the header
*/
header{
	width:100vw;
	background-color: aquamarine;
	border: #F0E68C solid 3px;
	text-align: center;
	font-size: 25px;
	padding: 25px;
}
/*banner covers 100% of the page width
*/
.banner{
	width:100%;
	height:75px;

	background-color: lightgray;
	border:solid;

	text-align: center;
	font-size:30px; 
	font-style:Sans-Serif;

	padding:15px;
	box-sizing: border-box;
}
/*footer*/
.footer{
	width: 100%;

	border:solid;

	text-align: center;
	background-color:lightgray ;

	padding: 15px;
	box-sizing: border-box;
}

/*for the homepage content*/
.contentHome{
	width: 100%;
	height: 100%;
	border: solid;
	border-width: thin;

	display: grid;
	grid-template-columns: 20% 80%;
	grid-gap: 5px;

	padding:15px;
	box-sizing: border-box;
	text-align: center;

	/*
	for the user background
	background-image: url(background.png);
  	background-repeat: repeat;*/
}

/*nav from the homepage*/
.nav{
	height: 1fr;

	border:solid;
	background-color: lightgray;

	text-align: left;

	padding: 15px;
	box-sizing: border-box;
}

/*List of the homepage articles*/
.list{
	border:solid;

	text-align: center;
	background-color:lightgray ;

	text-align: left;

	display: grid;
	grid-template-columns: 100%;

	padding: 15px;
	box-sizing: border-box;
}

/*to represent 1 article with:
a small picture
a description and the price
buttons to acess/buy*/
.article{
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: 1fr;
	

	border:solid;
	border-width: thin;

	padding: 15px;
	margin:15px;
	box-sizing: border-box;
}

/*small picture of the product*/
.photo{
	width: 100px;
	height: 100px;

	border:solid;
	border-width: thin;

	background-image: url("book.jpg");
	background-size:  cover;
	object-fit: fill;

	box-sizing: border-box;
}

/*Style of the description*/
.description{
	font-style: italic;
}

/*button floating right*/
.aspectButton{
	width: 100px;
	height: 50px;
	border-radius:5px;
	border:none;
	background-color: #555555;
	color: white;

	float: right;
	box-sizing: border-box;

	transition-duration: 0.5s;
}

/*from w3 schools
used to highlight in green when the mous is above the button*/
.aspectButton:hover{
	background-color: #4CAF50;
  	color: white;
}

/*for a centered button */
.regularButton{
	height: 50px;

	border:none;
	background-color: #555555;
	color: white;

	float: center;
	margin: 15px;
	padding: 15px;
	box-sizing: border-box;

	display: block;
    margin-left: auto;
    margin-right: auto;

    transition-duration: 0.5s;
}

/*from W3 schools
becomes green whon hovered*/
.regularButton:hover{
	background-color: #4CAF50;
  	color: white;
}

/*used for the container of content in all pages*/
.content{
	width: 100%;
	border: solid;
	border-width: thin;

	padding:15px;
	box-sizing: border-box;
/*
	for the user background
	background-image: url(background.png);
  	background-repeat: repeat;*/
}

/*user profile picture from the user space*/
.profilePicture{
	width: 200px;
	height: 200px;

	border:solid;
	border-width: thin;

	background-image: url("profilePicture.png");
	background-size:  cover;
	object-fit: contain;

	display: block;
    margin-left: auto;
    margin-right: auto;

	box-sizing: border-box;
}

/*Rectangle with rounded border*/
.connexionPanel{
	width: 70%;

	background-color: lightgray;

	border: none;
	border-radius: 20px;

	display: block;
    margin-left: auto;
    margin-right: auto;

    box-sizing: border-box;

    display: grid;
   	grid-template-columns: 1fr 1fr;

    padding: 15px;

    text-align: center;
}

/*from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_vertical_menu_scroll*/
/*for a scrolling menu*/
.vertical-menu {
  width: 200px;
  height: 150px;
  overflow-y: auto;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}

/*to use a text zone witohout it being seen
usually to dispaly the price in the description*/
.stealthText{
	border: none;
	background-color: transparent;
}

.imageProduct{
	display: flex;
	justify-content: center;
}

* {
	box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
  }
  
  label {
	padding: 12px 12px 12px 0;
	display: inline-block;
  }
  
  input[type=submit] {
	background-color: #2e6ec2;
	color: white;
	padding: 12px 20px;
	margin: 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
  }
  
  input[type=submit]:hover {
	background-color: #191253;
  }
  
  .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
  }
  
  .col-25 {
	float: left;
	width: 20%;
	margin-top: 6px;
  }
  
  .col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
  }
  .col-50{
	float:left;
	width:50%;
}
  
.col-15{
	float:left;
	width:15%;
	margin-left: 10%;
}
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }



