body{
	font-family: Arial, Helvetica, sans-serif;
}

header{
	width:100vw;
}

.banner{
	width:100%;
	height:75px;

	background-color: lightgray;
	border:solid;

	text-align: center;
	font-size:30px; 
	font-style:Sans-Serif;

	padding:15px;
	box-sizing: border-box;
}

.footer{
	width: 100%;

	border:solid;

	text-align: center;
	background-color:lightgray ;

	padding: 15px;
	box-sizing: border-box;
}

.contentHome{
	width: 100%;
	height: 100%;
	border: solid;
	border-width: thin;

	display: grid;
	grid-template-columns: 20% 80%;
	grid-gap: 5px;

	padding:15px;
	box-sizing: border-box;
	text-align: center;
}

.nav{
	height: 1fr;

	

	border:solid;
	background-color: lightgray;

	text-align: left;

	padding: 15px;
	box-sizing: border-box;
}

.list{
	border:solid;

	text-align: center;
	background-color:lightgray ;

	text-align: left;

	display: grid;
	grid-template-columns: 100%;

	padding: 15px;
	box-sizing: border-box;
}

.article{
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: 1fr;
	

	border:solid;
	border-width: thin;

	padding: 15px;
	margin:15px;
	box-sizing: border-box;
}

.photo{
	width: 50px;
	height: 50px;

	border:solid;
	border-width: thin;

	background-image: url("book.jpg");
	background-size:  cover;
	object-fit: fill;

	box-sizing: border-box;
}

.description{
	font-style: italic;
}

.aspectButton{
	width: 100px;
	height: 50px;

	border:none;
	background-color: #555555;
	color: white;

	float: right;
	box-sizing: border-box;

	transition-duration: 0.5s;
}

.aspectButton:hover{
	background-color: #4CAF50;
  	color: white;
}

.regularButton{
	height: 50px;

	border:none;
	background-color: #555555;
	color: white;

	float: center;
	margin: 15px;
	padding: 15px;
	box-sizing: border-box;

	display: block;
    margin-left: auto;
    margin-right: auto;

    transition-duration: 0.5s;
}

.regularButton:hover{
	background-color: #4CAF50;
  	color: white;
}

.content{
	width: 100%;
	height: 100%;
	border: solid;
	border-width: thin;

	padding:15px;
	box-sizing: border-box;
}


.profilePicture{
	width: 200px;
	height: 200px;

	border:solid;
	border-width: thin;

	background-image: url("profilePicture.png");
	background-size:  cover;
	object-fit: contain;

	display: block;
    margin-left: auto;
    margin-right: auto;

	box-sizing: border-box;
}

.connexionPanel{
	height: 200px;
	width: 70%;

	background-color: lightgray;

	border: none;
	border-radius: 20px;

	display: block;
    margin-left: auto;
    margin-right: auto;

    box-sizing: border-box;

    display: grid;
   	grid-template-columns: 1fr 1fr;

    padding: 15px;

    text-align: center;
}

/*from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_vertical_menu_scroll*/
.vertical-menu {
  width: 200px;
  height: 150px;
  overflow-y: auto;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}





.synopsis{
	grid-column-start: 1;
   	grid-column-end: 2;
   	grid-row-start: 1;
   	grid-row-end: 4;
	font-family: Arial, Helvetica, sans-serif;
	background-color:#90EE90 ;
}

.comments{
	display : grid;
	grid-column: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;

}

.comment{
	display: grid;
	grid-template-rows:1fr 1fr;
	grid-template-columns: 90% ;
}



.backIntro{
	background-image: url(rottenbackground.png);
	object-fit: cover;
}

.text{
	border: solid;
	border-color: grey;
	background-color: #F0E68C;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.userName{
	font-family: Arial, Helvetica, sans-serif;
	display: inline;
	font-weight: bold;
}

.userTitle{
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
}

.userProfile{
	position: relative;
	left: 0;
	float: left;
}



.gridContainer{
	display:grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: 150px 1fr 1fr;
	border:solid;
	border-color:grey;
}

html {
  /*background-image: url(background.png);
  background-repeat: repeat; */
}
